*{
    box-sizing: border-box;
    
}
body{
    margin: 0;
    
    min-height: 100vh;
    font-family: Arial, sans-serif;
    
}
.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* justify-content: space-between;*/
} 

a{
    text-decoration: none;
}
/*HEADER-----------------------------------------------------------------*/





header{
    background-color:#202124;
    display: flex;
    justify-content: flex-end;

}

header ul{
    display: flex;
    list-style: none;
    align-items: center;
    text-decoration: none;
}

header li{
    margin: 0 10px;
    padding: 0;
    font-size: 13px;
    

}

header a{
    color: white !important;
}



.imgyo{
    width: 30px;
    border-radius: 100px;
    margin: 0px 7px 0px 0px;
    height: 30px;

}

.imgapp{
    height: 21px;
    width: 21px;
}


/*SECTION------------------------------------------*/
section{
    background-color: #202124;
    min-height: 400px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex: 1;
    padding-top: 50px;
    


}

.googleprincipal{

    margin-bottom: 26px;
}

img{
    width: 272px;
    height: 92px;
}

.divInput{
    width: 582px;
    height: 47px;
}

.input{
    height: 47px;
    width: 582px;
    height: 47px;
    width: 582px;
    background: #202124;
    border: 1px solid #666;
    border-radius: 25px;

}

.divbtn{
    padding-top: 30px;
}
button{
    color: white;

}

.btn{
    border-radius: 5px;
    background: #303134;
    width: 147px;
    height: 36px;
    border: none;
    cursor: pointer;
    margin: 0px 5px 0px 5px;
    font-size: 14px;

}

.btn:hover{
    border: solid 1px #666 ;

}

.iconinput{
    height: 15px;
    width: 15px;
    
}






/*FOOTER--------------------------------------------------------------*/
footer{
    background-color: #171717;
}

footer a{
    text-decoration: none;
    list-style: none;
    color: #999DA2;
}
.foot-top{
    /* display: flex;
    justify-content: space-between;*/
    padding: 0px;
    border-bottom: solid 1px #666;
}

.foot-bot{
    display: flex;
    justify-content: space-between;
    padding: 11px 0;
}



.foot-bot ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.foot-top li{
    list-style: none;
}
.foot-bot li{
    margin: 0 16px;
}


