*{
    box-sizing: border-box;
    
}
body{
    margin: 0;
    
    min-height: 100vh;
    font-family: Arial, sans-serif;
    
}
.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* justify-content: space-between;*/
} 

a{
    text-decoration: none;
}
/*HEADER-----------------------------------------------------------------*/





header{
    background-color:#202124;
    display: flex;
    justify-content: flex-end;

}

header ul{
    display: flex;
    list-style: none;
    align-items: center;
    text-decoration: none;
}

header li{
    margin: 0 10px;
    padding: 0;
    font-size: 13px;
    

}

header a{
    color: white !important;
}



.imgyo{
    width: 30px;
    border-radius: 100px;
    margin: 0px 7px 0px 0px;
    height: 30px;

}

.imgapp{
    height: 21px;
    width: 21px;
}


/*SECTION------------------------------------------*/
section{
    background-color: #202124;
    min-height: 400px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex: 1;
    padding-top: 50px;
    


}

.googleprincipal{

    margin-bottom: 26px;
}

img{
    width: 272px;
    height: 92px;
}

.divInput{
    width: 582px;
    height: 47px;
}

.input{
    height: 47px;
    width: 582px;
    height: 47px;
    width: 582px;
    background: #202124;
    border: 1px solid #666;
    border-radius: 25px;

}

.divbtn{
    padding-top: 9px;
}
button{
    color: white;

}

.btn{
    border-radius: 5px;
    background: #303134;
    width: 147px;
    height: 36px;
    border: none;
    cursor: pointer;
    margin: 0px 5px 0px 5px;
    font-size: 14px;

}

.btn:hover{
    border: solid 1px #666 ;

}

.iconinput{
    height: 15px;
    width: 15px;
    
}
/*------------BARRA DE BUSQUEDA-----------------------*/
.searchbox {
    display: flex;
    z-index: 3;
    height: 48px;
    background: transparent;
    border: 1px solid #555555;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    max-width: 584px;
    margin-bottom: 20px;
}

.searchcontainer {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 14px;
    align-items: center;
    justify-content: space-around;
    width: 582px;
}

.material-symbols-outlined {
    color:#dcdcdc;
    display: flex !important;
    font-size: 21px !important;
    align-items: center;
    padding-bottom: 4px;
    padding-left: 1px !important;
}

.divinput2 {
    width: 80%;
}

.recentsearch {
    display: none;
    position: absolute;
    justify-content: space-around;
    height: 280px;
    background: #292929;
    border: 1px solid #555555;
    border-radius: 0px 0px 24px 24px;
    margin: 0 auto;
    width: 584px;
    left: 0; 
    right: 0; 
    margin-top: -23px;
    }

    .d-none {
        display : none;
    }

    img.icon{
        padding-bottom: 5px;
        cursor: pointer;
    }
    
    img.icon:first-child{
        padding-right: 15px;
        height: 20px;
    }
    
    img.icon:last-child {
        height: 15px;
        padding-right: 15px;
        padding-bottom: 3px;
    }

.iconolupa{
    width: 16px;
    height: 16px;

}
.iconmic{
    width: 25px;
    height: 25px;
    margin: 0px 11px 2px 0px;


}
.iconolens{
    width: 18.5px;
    height: 18.5px;
    margin: 0px 9px 2px 0px;



}

.widthInput{
    width: 450px;
    background: transparent;
    border-bottom: unset;
    border-right: unset;
}





/*FOOTER--------------------------------------------------------------*/
footer{
    background-color: #171717;
}

footer a{
    text-decoration: none;
    list-style: none;
    color: #999DA2;
    font-size: 14px;
}
.foot-top{
    /* display: flex;
    justify-content: space-between;*/
    padding: 0px;
    border-bottom: solid 1px #666;
}

.foot-bot{
    display: flex;
    justify-content: space-between;
    padding: 11px 0;
}



.foot-bot ul{
    display: flex;
    list-style: none;
    margin: 0px 0px 0px 19px;
    padding: 1px 0px 4px 0px;
}

.foot-top li{
    list-style: none;
    margin: -2px 0px 0px -10px;
}
.foot-bot li{
    margin: 0 16px;
}

.arg{
    font-size: 15px;
}

.foot-bot-rigth{
    margin: 1px 19px 0px 0px !important;
    padding: 0px 0px 0px 0px !important;
}

.alejadaizq{
    margin: 0px -2.2px 0px 0px; 
}
.alejada{
    margin: 0px -2px 0px 0px;
}

.alejadagoog{

}