body{
    background-color: blanchedalmond;
    margin: 0px;
    font-family: caveat;
    min-height: 100vh;
}

.conteiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;

}
header{
    
    background-color: #FF8E8E;
    display: flex;
    justify-content: flex-end;
    height: 40px;
    align-items: center;
}

.divsnormales{
    background-color: #FFD59D;
    margin: 11px;
    padding: 3px;
    height: 21px;
    border-radius: 19px 0 12px 0;
    width: 61px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    align-items: center;

}



#divsalmon {
    height: 100px;
}

#inputsalmon{
    width: 285px;
    font-family: caveat;
    font-size: 21px;
    margin-top: 25px;
}



#section1{
    height: 300px;
    display: flex;
    align-items: flex-end;
    background-color: blanchedalmond;
    justify-content: center;
    flex :1 ;
}
section div{
    display: flex;
    align-items: center;
    justify-content: center;
}

#fotopersonal{
    height: 32px;
    border-radius: 100%;
    border: solid 0.5px;
    margin: 11px;
    }

#fotopersonal:hover{ 
    height: 40px;
    border-radius: 100%;
    border: solid 0.5px;
}

.svgapp{
    height: 51px;

    margin: 16px 11px 11px 11px;
    
    
        }
    




footer p{
        display: inline-block;
        margin: 0; 
        padding: 0; 
    }
    footer {
    background-color: #FF8E8E;
    text-align: center;
    font-family: caveat;
    font-weight: 700;
    font-size: 25px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    max-height: 100px;
    }


div a{
    text-decoration: none;
    color: black;
}

#boton{
    padding: 4.7px;
    padding: 5px;
    border-radius: 10px 70px 72px 3px;
    margin-left: 0px;
    border-left: 77px;
    background: white;
    margin-top: 25px;

}
section img{
    height: 240px;
    width: 370px;
}

#section2{
    background-color: blanchedalmond;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 59px;
    height: 230px;
    max-height: 350px;

}

#divsection2{
    margin-top: 0;

}

.flex{
    display: flex;
    justify-content: space-around;
    width: 300px;
    list-style: none;
    align-items: center;
}

.flex2{
    display: flex;
    justify-content: flex-end;
    width: 300px;
    list-style: none;
    align-items: center;
    


}

#prefooter {
    display: flex;
    height: 40px;
    border-bottom: 0.5px solid #ff8e8ed6;
}




#prefooter1{
    display: flex;
    background: #FF8E8E;
    width: 50%;
    height: 40px;

}

#prefooter2{
    display: flex;
    background: #FF8E8E;
    width: 50%;
    justify-content: flex-end;
    height: 40px;
}

.claselocaizq{
    /*background-color: red;*/
    margin-left: 0;
    margin-top: 5px;
    margin-right: 20px;
    margin-bottom: 5px;
}

.claselocader{
    /*background-color: red;*/
    margin-left: 0;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.claselocaespecial1{
    margin-left: -16px;
    margin-top: 5px;
    margin-right: 18px;
    margin-bottom: 5px;

}

.claselocaespecial2{
    margin-right: 1px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.pprefooter{
    font-size: 20px;
}